{% extends "layout.html" %}

{% block content %}
<style>
	th{text-align: left;}
</style>

<div class="jumbotron" style="background:#57bd59;color:#fff">
	<div class="px-2">
		<h3 class="display-6"><b>Dataset Original</b></h3>
		<p>Se puede ver el dataset que que se usó para entrenar al modelo de Machine Learning antes de pasar por el prceso de Pre-Procesamiento</p>
		<hr class="my-4">
		<p>
			<a class="btn btn-dark waves-effect btn-lg me-4" href="/simulacion_final" role="button"><i class="fas fa-angle-double-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;Volver</a>
			<a class="btn btn-dark waves-effect btn-lg" href="/data_prediccion" role="button">Dataset Prediccion&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-table"></i></a>
		</p>
	</div>
</div>

<div class="px-4">

	<div class="card mb-4 mt-4">
		<div class="card-body">
			El dataset que se está presentando ha sido elaborado para este proyecto. Ha sido construido juntando la información de otros tres datasets distintos, el dataset de intención de siembra del MIDAGRI, el dataset de volúmenes y precios del sistema SISAP y el dataset sobre reportes de clima de SENAMHI.
			<br>
			<a target="_blank" href="https://www.chartjs.org/docs/latest/">Ver más información sobre este Dataset</a>
		</div>
	</div>

	<div class="card mb-4 mt-2">

		<div style="color:white;" class="card-header bg-dark">
			<i class="fas fa-chart-area me-1"></i>
			Tabla Dataset Original
		</div>

		<div class="card-body">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive" style="font-size: 14px;">
							{{ df_table.to_html(border="0", classes="display", table_id="mydataset", index=False) | safe}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card-footer small text-muted bg-dark">Updated yesterday at 11:59 PM</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='datatable.js') }}"> </script>
{% endblock %}
