{% extends "layout.html" %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4"><b>SMARTAGRO: Pattern Mining en la Agricultura</b></h1>

        <div class="card mb-4">
            <div class="card-body">
                <img src="https://i.ibb.co/vjxqs5S/home.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>

        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Nosotros</a></li>
            <li class="breadcrumb-item active">Pattern Mining para extracción de patrones en agricultura y simulación de cultivos</li>
        </ol>
    </div>
</main>
{% endblock %}